#wrap-schedule {
	margin: 10px 10px 0 10px;
	width: calc(100% - 175px);
	height: calc(100% - 45px);
	overflow: scroll;
	border: 1px solid var(--sub-cl);
	scroll-behavior: smooth;
	scroll-padding: 300px;
	padding-bottom: 1px;
}
.wrap_day_title {
	display: flex;
	flex-direction: column;
	gap: 1px;
	position: sticky;
	top: 0;
	background-color: var(--sub-cl);
}
#wrap-month-year {
	display: flex;
	flex-direction: column;
	gap: 1px;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: var(--main-cl);
}
.wrap_hours {
	display: flex;
	gap: 1px;
}
.wrap_user_infor,
.date_title,
.time_cell,
.ws_cell {
	background-color: var(--main-cl);
}
.ws_info {
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
}
.ws_cell:target {
	background-color: var(--pale-gre-cl);
}
.wrap_user_infor {
	border-right: 1px solid var(--sub-cl);
	position: sticky;
	left: 0;
	user-select: none;
}
.ws_fast_jump {
	counter-reset: item;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.ws_fast_jump li {
	padding: 1px 5px;
}
.ws_fast_jump li:before {
	content: counter(item, decimal-leading-zero) ". ";
	counter-increment: item;
	width: 1em;
	display: inline-block;
	text-align: right;
	margin-right: 0.5em;
	font-size: 0.9rem;
	padding: 1px 0;
}
.time_cell {
	text-align: center;
	width: 50px;
	padding: 5px 0;
}
.date_title {
	text-align: center;
}
.first_y_cell {
	width: 200px;
}
.wrap_user_schedule,
#table-header {
	display: grid;
	grid-template-columns: 125px repeat(7, 1fr);
	gap: 1px;
	border-bottom: 1px solid var(--sub-cl);
}
#table-header {
	position: sticky;
	top: 0;
	z-index: 3;
}
#schedule-table {
	display: flex;
	flex-direction: column;
	background-color: var(--sub-cl);
	width: fit-content;
	height: fit-content;
}
#table-body {
	display: flex;
	gap: 1px;
	flex-direction: column;
}
.wrap_ws {
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: var(--sub-cl);
	padding-top: 30px;
}
#option-year,
#option-month {
	display: flex;
	gap: 5px;
}
.change_time_btn {
	all: unset;
	padding: 4px 8px;
	cursor: pointer;
	background-color: var(--main-cl);
	border-radius: 2px;
	font-size: 0.8rem;
}
.change_time_btn:active {
	background-color: var(--sub-cl);
	outline: 1px solid var(--main-cl);
}
#wrap-year,
#wrap-month {
	width: 100%;
	background-color: var(--sub-cl);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sw_cell {
	background-color: var(--sub-cl);
}
.date_title,
#wrap-year,
#wrap-month {
	padding: 5px;
}
.cell_user_name {
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--gray-cl);
	padding: 5px;
}
.ws_jump_link {
	color: var(--gray-cl);
	text-decoration: none;
}
li:has(.ws_jump_link:hover),
li:has(.ws_jump_link.selected) {
	background-color: var(--sub-cl);
}
.ws_jump_link.selected {
	font-weight: 500;
	transition: 200ms ease-in-out;
	background-color: var(--sub-cl);
}
#wrap-filter-kit {
	position: fixed;
	padding: 5px 0;
	bottom: 0;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: var(--main-cl);
	user-select: none;
}
.wrap_filter_type {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 0.9rem;
	font-weight: 300;
}
.filter_input {
	outline: unset;
	border: 1px solid var(--sub-cl);
	height: 25px;
	padding: 0 5px;
	border-radius: 2px;
	background-color: var(--sub-cl);
}
#ws-reset-filter {
	all: unset;
	background-color: var(--sub-cl);
	font-size: 0.9rem;
	padding: 0px 10px;
	height: 25px;
	cursor: pointer;
	border-radius: 2px;
}
.cell_user_id {
	display: none;
}
