#wrap-schedule {
	margin: 10px 10px 0 10px;
	width: calc(100% - 125px);
	height: calc(100% - 10px);
	overflow: scroll;
	border: 1px solid var(--sub-cl);
	scroll-behavior: smooth;
	scroll-padding: 300px;
}
.wrap_day_title {
	display: flex;
	flex-direction: column;
	gap: 1px;
	position: sticky;
	top: 0;
	background-color: var(--sub-cl);
}
#wrap-month-year {
	display: flex;
	flex-direction: column;
	gap: 1px;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: var(--main-cl);
}
.wrap_hours {
	display: flex;
	gap: 1px;
}
.wrap_user_infor,
.date_title,
.time_cell,
.ws_cell {
	background-color: var(--main-cl);
}
.ws_info {
	padding: 5px;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
}
.ws_cell:target {
	outline: 1px solid var(--gray-cl);
	background-color: var(--pale-gre-cl);
}
.wrap_user_infor {
	position: sticky;
	left: 0;
}
.time_cell {
	text-align: center;
	width: 50px;
	padding: 5px 0;
}
.date_title {
	text-align: center;
}
.first_y_cell {
	width: 200px;
}
.wrap_user_schedule,
#table-header {
	display: grid;
	grid-template-columns: 170px repeat(7, 1fr);
	gap: 1px;
	border-bottom: 1px solid var(--sub-cl);
}
#table-header {
	position: sticky;
	top: 0;
	z-index: 3;
}
#schedule-table {
	display: flex;
	flex-direction: column;
	background-color: var(--sub-cl);
	width: fit-content;
	height: fit-content;
}
#table-body {
	display: flex;
	gap: 1px;
	flex-direction: column;
}
.wrap_ws {
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: var(--sub-cl);
}
#wrap-year,
#wrap-month {
	width: 100%;
	background-color: var(--sub-cl);
}
.sw_cell {
	background-color: var(--sub-cl);
}
.date_title,
#wrap-year,
#wrap-month,
.wrap_user_infor {
	padding: 5px;
}
.ws_fast_jump {
	margin: 0;
	padding-left: 20px;
}
.ws_jump_link {
	color: var(--gray-cl);
	text-decoration: none;
}
