#wrap-full-sidebar {
	background-color: var(--sub-cl);
	padding: 10px;
	width: 150px;
}
#wrap-navidgate {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.navigate_link {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
