#wrap-full-sidebar {
	background-color: var(--main-cl);
	width: 150px;
	padding-top: 10px;
}
#wrap-navidgate {
	display: flex;
	flex-direction: column;
	background-color: var(--sub-cl);
	height: 100%;
}
.navigate_link {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--gray-cl);
	cursor: pointer;
	transition: 100ms ease-in-out;
	padding: 10px 15px;
	text-align: center;
	position: relative;
	z-index: 2;
}
.navigate_link:hover {
	background-color: var(--main-cl);
}
.navigate_icon {
	width: 25px;
	text-align: center;
}
.navigate_name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
}
