<link rel="stylesheet" href="/css/employee/addEmployee.css" />
<div id="wrap-add-ely">
	<div id="wrap-add">
		<div class="wrap_add_type">
			<div class="add_ely_title">Multiple Add</div>
			<div></div>
		</div>
		<div class="wrap_add_type">
			<div class="add_ely_title">Add One</div>
			<div id="wrap-form-input">
				<div id="form-input">
					<div class="wrap_inputs">
						<label for="">Email</label>
						<input id="" class="add_ely_inp" type="text" value="@gmail.com" />
					</div>
					<div class="wrap_inputs">
						<label for="">Password</label>
						<input id="" class="add_ely_inp" type="password" value="a" />
					</div>
					<div class="wrap_inputs">
						<label for="">Position</label>
						<input id="" class="add_ely_inp" type="text" value="Employee" />
					</div>
					<div class="wrap_inputs">
						<label for="">Headquarter</label>
						<input id="" class="add_ely_inp" type="text" />
					</div>
				</div>
				<button id="submit-add-ely" type="submit">Add</button>
			</div>
		</div>
	</div>
</div>