<link rel="stylesheet" href="/css/dashboard.css" />
<div id="charts-tray">
	<div id="wrap-charts">
		<div class="wrap_columns">
			<canvas id="noEmployee"></canvas>
		</div>
		<div class="wrap_columns">
			<canvas id="noRecords"></canvas>
		</div>
		<div class="wrap_columns">
			<canvas id="myPie"></canvas>
		</div>
	</div>
</div>
<script type="module" src="/js/dashboard.js"></script>