<link rel="stylesheet" href="/css/dashboard.css" />
<div id="charts-tray">
	<div id="wrap-charts">
		<canvas width="500px" id="noEmployee"></canvas>
		<canvas width="500px" id="noRecords"></canvas>
		<canvas width="300px" id="myPie"></canvas>
	</div>
</div>
<script type="module" src="/js/admin.js"></script>