<link rel="stylesheet" href="/css/employee.css" />
<div id="wrap-employee-table">
	<div id="title-bar" class="wrap_employee_bar">
		<div class="bar_format">
			<div>#</div>
			<div>ID</div>
			<div>Name</div>
			<div>Email</div>
			<div>Position</div>
			<div>Role</div>
		</div>
		<div id="option-title">Options</div>
	</div>
	<div id="list-employee">
		<div id="employee-bar-loading"></div>
		<div class="wrap_employee_bar">
			<div class="bar_format info-bar">
				<div>0</div>
				<div data-name="id">Example</div>
				<div data-name="name">Example</div>
				<div data-name="email">Example</div>
				<div data-name="position">Example</div>
				<div data-name="role">Example</div>
			</div>
			<div class="wrap_option_btn">
				<div class="delete_btn option_btn">Delete</div>
				<div class="edit_btn option_btn">Edit</div>
				<div class="view_btn option_btn">View</div>
			</div>
		</div>
	</div>
	<form id="wrap-fillers-kit">
		<div id="filter-name" class="wrap_filter">
			<label for="id-filter">ID</label>
			<input id="id-filter" class="filter_input" name="id" type="text" />
		</div>
		<div id="filter-name" class="wrap_filter">
			<label for="name-filter">Name</label>
			<input id="name-filter" class="filter_input" name="name" type="text" />
		</div>
		<div id="filter-name" class="wrap_filter">
			<label for="email-filter">Email</label>
			<input id="email-filter" class="filter_input" name="email" type="text" />
		</div>
		<div id="filter-name" class="wrap_filter">
			<label for="position-filter">Position</label>
			<input id="position-filter" class="filter_input" name="position" type="text" />
		</div>
		<div id="filter-name" class="wrap_filter">
			<label for="role-filter">Role</label>
			<input id="role-filter" class="filter_input" name="role" type="text" />
		</div>
		<button id="reset-filter-btn" type="reset">Reset</button>
	</form>
</div>

<script type="module" src="/js/employee.js"></script>