<link rel="stylesheet" href="/css/employee.css" />
<div id="wrap-employee-table">
	<div id="title-bar" class="bar_format">
		<div>#</div>
		<div>ID</div>
		<div>Name</div>
		<div>Email</div>
		<div>Position</div>
		<div>Role</div>
		<div>Address</div>
		<div>Gender</div>
		<div id="option-title">Options</div>
	</div>
	<div id="list-employee">
		<div id="employee-bar-loading"></div>
	</div>
	<form id="wrap-fillers-kit">
		<div class="wrap_filter">
			<label for="id-filter">ID</label>
			<input id="id-filter" class="filter_input" name="id" type="text" />
		</div>
		<div class="wrap_filter">
			<label for="name-filter">Name</label>
			<input id="name-filter" class="filter_input" name="name" type="text" />
		</div>
		<div class="wrap_filter">
			<label for="email-filter">Email</label>
			<input id="email-filter" class="filter_input" name="email" type="text" />
		</div>
		<div class="wrap_filter">
			<label for="position-filter">Position</label>
			<input id="position-filter" class="filter_input" name="position" type="text" />
		</div>
		<div class="wrap_filter">
			<label for="role-filter">Role</label>
			<input id="role-filter" class="filter_input" name="role" type="text" />
		</div>
		<div class="wrap_filter">
			<label for="gender-filter">Gender</label>
			<input id="gender-filter" class="filter_input" name="gender" type="text" />
		</div>
		<button id="reset-filter-btn" type="reset">Reset</button>
	</form>
</div>

<script type="module" src="/js/employee.js"></script>