<link rel="stylesheet" href="/css/employee.css" />
<div id="wrap-employee-table">
	<div id="title-bar" class="wrap_employee_bar">
		<div class="bar_format">
			<div>ID</div>
			<div>Name</div>
			<div>Position</div>
			<div>Role</div>
		</div>
		<div class="option-title">Options</div>
	</div>
	<div id="list-employee">
		<div class="wrap_employee_bar">
			<div class="bar_format">
				<div>TK-106dd148-3281-488b-b9b1-c265c2ea6f92</div>
				<div>Do Huy</div>
				<div>CEO</div>
				<div>Admin</div>
			</div>
			<div class="wrap_option_btn">
				<div class="delete_btn option_btn">Delete</div>
				<div class="edit_btn option_btn">Edit</div>
				<div class="view_btn option_btn">View</div>
			</div>
		</div>
	</div>
</div>

<script type="module" src="/js/employee.js"></script>