<link rel="stylesheet" href="/css/headquarter.css" />
<div id="wrap-hqt">
	<div id="wrap-title-bar">
		<div>#</div>
		<div>ID</div>
		<div>Name</div>
		<div>Address</div>
		<div>Employees</div>
		<div>Options</div>
	</div>
	<div id="list-headquarter">
		<div class="wrap_hqt_bar">
			<div class="hqt_number">0</div>
			<div class="hqt_id">Example</div>
			<div class="hqt_name">Example</div>
			<div class="hqt_address">Example</div>
			<div class="number_of_employee">Example</div>
			<div class="wrap_hqt_options">
				<div class="option_btn" id="del-option">
					<i class="fa-solid fa-trash"></i>
				</div>
				<div class="option_btn" id="edit-option">
					<i class="fa-solid fa-pen-to-square"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="module" src="/js/headquarter.js"></script>