<link rel="stylesheet" href="/css/login.css" />
<script src="/js/login.js"></script>
<div id="bg">
	<form id="login-form">
		<div>Login</div>
		<div>
			<label for=""></label>
			<input id="email" type="text" />
		</div>
		<div>
			<label for=""></label>
			<input id="password" type="password" />
		</div>
		<button type="submit">Done</button>
	</form>
</div>