<link rel="stylesheet" href="/css/schedule.css" />
<div id="wrap-schedule">
	<div id="schedule-table">
		<div id="table-header">
			<div id="wrap-month-year">
				<div id="wrap-year">2023</div>
				<div id="wrap-month">January</div>
			</div>
				<div class="wrap_day_title">
					<div class="date_title">T2</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">T3</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">T4</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">T5</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">T6</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">T7</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">CN</div>
					{{> scheduleHours}}
				</div>
		</div>
		<div id="table-body">
			<div class="wrap_user_schedule">
				<div class="wrap_user_infor">Do Huy</div>
				<div class="wrap_ws" data-day="1"></div>
				<div class="wrap_ws" data-day="2"></div>
				<div class="wrap_ws" data-day="3"></div>
				<div class="wrap_ws" data-day="4"></div>
				<div class="wrap_ws" data-day="5"></div>
				<div class="wrap_ws" data-day="6"></div>
				<div class="wrap_ws" data-day="0"></div>
			</div>
		</div>
	</div>
</div>
<script src="/js/schedule.js"></script>