<div id="wrap-schedule">
	<div id="schedule-table">
		<div id="table-header">
			<div id="wrap-month-year">
				<div id="wrap-year">
					<div id="the-year"></div>
					<div id="option-year">
						<div id="pre-year-btn" class="change_time_btn" type="button">
							<i class="fa-solid fa-angle-left"></i>
						</div>
						<div id="next-year-btn" class="change_time_btn" type="button">
							<i class="fa-solid fa-angle-right"></i>
						</div>
					</div>
				</div>
				<div id="wrap-month">
					<div id="the-month"></div>
					<div id="option-month">
						<div id="pre-month-btn" class="change_time_btn" type="button">
							<i class="fa-solid fa-angle-left"></i>
						</div>
						<div id="next-month-btn" class="change_time_btn" type="button">
							<i class="fa-solid fa-angle-right"></i>
						</div>
					</div>
				</div>
			</div>
				<div class="wrap_day_title">
					<div class="date_title">Monday</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">Tuesday</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">Wednesday</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">Thursday</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">Friday</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">Saturday</div>
					{{> scheduleHours}}
				</div>
				<div class="wrap_day_title">
					<div class="date_title">Sunday</div>
					{{> scheduleHours}}
				</div>
		</div>
		<div id="table-body">
			<div class="wrap_user_schedule">
				<div class="wrap_user_infor">
					<div class="cell_user_id">Example</div>
					<div class="cell_user_name">Example</div>
					<ol class="ws_fast_jump"></ol>
				</div>
				<div class="wrap_ws" data-day="1"></div>
				<div class="wrap_ws" data-day="2"></div>
				<div class="wrap_ws" data-day="3"></div>
				<div class="wrap_ws" data-day="4"></div>
				<div class="wrap_ws" data-day="5"></div>
				<div class="wrap_ws" data-day="6"></div>
				<div class="wrap_ws" data-day="0"></div>
			</div>
		</div>
	</div>
	<form id="wrap-filter-kit">
		<div class="wrap_filter_type">
			<label for="">Name</label>
			<input class="filter_input" name="name" type="text">
		</div>
		<div class="wrap_filter_type">
			<label for="">ID</label>
			<input class="filter_input" name="id" type="text">
		</div>
		<button id="ws-reset-filter" type="reset">Reset</button>
	</form>
</div>
<script type="module" src="/js/schedule.js"></script>