<link rel="stylesheet" href="/css/header.css" />
<div id="wrap-header">
	<img id="urban-logo" src="/imgs/urban_logo_horizontal_transform.png" alt="Urban Logo" draggable="false" />
	<div>
		<div id="wrap-header-icon">
			<div class="header_icon">
				<i class="fa-solid fa-user"></i>
			</div>
			<div class="header_icon">
				<i class="fa-solid fa-gear"></i>
			</div>
			<div class="header_icon">
				<i class="fa-solid fa-arrow-right-from-bracket"></i>
			</div>
		</div>
	</div>
</div>