<link rel="stylesheet" href="/css/sidebar.css" />
<div id="wrap-full-sidebar">
	<div id="wrap-navidgate">
		<div class="navigate_link" data-link="dashboard">
			<div class="navigate_icon"><i class="fa-solid fa-chart-simple"></i></div>
			<div class="navigate_name">Dashboard</div>
		</div>
		<div class="navigate_link" data-link="schedule">
			<div class="navigate_icon"><i class="fa-solid fa-calendar"></i></div>
			<div class="navigate_name">Schedule</div>
		</div>
		<div class="navigate_link" data-link="employee">
			<div class="navigate_icon"><i class="fa-solid fa-users"></i></div>
			<div class="navigate_name">Employee</div>
		</div>
		<div class="navigate_link" data-link="headquarter">
			<div class="navigate_icon"><i class="fa-solid fa-building"></i></div>
			<div class="navigate_name">Headquarter</div>
		</div>
	</div>
</div>
<script defer type="module" src="/js/sidebar.js">

</script>