<link rel="stylesheet" href="/css/sidebar.css" />
<div id="wrap-full-sidebar">
	<div id="wrap-navidgate">
		<div id="" class="navigate_link" data-link="dashboard">Dashboard</div>
		<div id="" class="navigate_link" data-link="employee">List Employees</div>
		<div id="" class="navigate_link" data-link="/api/v2/employee/">temp</div>
		<div id="" class="navigate_link" data-link="/api/v2/employee/">temp</div>
	</div>
</div>
<script defer type="module" src="/js/sidebar.js">

</script>